#routes {
  position: relative;
  width: 190px;
  padding: 1em 0.3125em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.125em;
  background-color: $white;
  border-radius: 0.625em;
  opacity: 0;
  transform: rotateZ(5deg) translateX(-5px) translateY(20px) translateZ(100px) scale(1.15);
  transform-style: preserve-3d;
  will-change: transform, opacity;
}
