#menu-button-content {
  position: fixed;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
}

@media (max-width: $breakpoint_S) {
  #menu-button-content {
    background-color: $blue-00f;
  }
}
