$max-width: 1440px;

$breakpoint_XS: 576px;
$breakpoint_S: 768px;
$breakpoint_M: 1024px;
$breakpoint_L: 1280px;

$base-padding-x: max(5vw, 40px);
$base-padding-y: clamp(30px, 4vw, 50px);

$white: #fff;
$grey-lighter: #d8d8d8;
$grey-light: #a8a8a8;
$grey-medium: #7b7b7b;
$grey-dark: #515151;
$grey-darker: #292929;
$black: #000;

$anti-flash-white: #f0f1fa;

$void-black: #262626;
$lime-green: #b2f141;
$bright-lavender: #b087fc;
$light-grey: #d7d8dc;
$raisin-black: #202020;
$lavender-mist: #eae1ff;

$gap_XXXS: 2px;
$gap_XXS: 5px;
$gap_XS: 10px;
$gap_S: 20px;
$gap_M: 30px;
$gap_L: 50px;
$gap_XL: 100px;
$gap_XXL: 200px;

:root {
  --max-width: 1440px;

  --breakpoint_XS: 576px;
  --breakpoint_S: 768px;
  --breakpoint_M: 1024px;
  --breakpoint_L: 1280px;

  --white: #ffffff;
  --black: #000;

  --lime-green: #b2f141;
  --bright-lavender: #b087fc;
  --light-grey: #d7d8dc;
}
