#menu-button-dots {
  width: 0.5em;
  height: 1em;
  margin-top: -2px;
  transform: rotate(0deg);

  svg {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: $breakpoint_S) {
  #menu-button-dots {
    width: 0.6em;
    height: 1.2em;
  }
}
