#menu-button-small {
  width: 3.5em;
  height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border-radius: 50%;
  border-width: initial;
  overflow: hidden;
  cursor: pointer;
}
