#locale-switcher-button-container {
  #locale-switcher-button-wrapper {
    padding: 0 0.65em 0 1.3em;
    background-color: $void_black;
    border-radius: 3.25em;
    border-width: initial;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

    #locale-switcher-button {
      height: 3.2em;
      margin-top: 2px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.625em;
      font-weight: 500;
      color: $white;
      transform: translateX(-1em);

      #locale-switcher-arrow-icon {
        margin-top: -3px;
        color: $white;
        opacity: 0;
      }

      #locale-switcher-translation-icon {
        margin-top: -2px;
        transform: scale(1);
      }
    }
  }

  #locale-switcher-button-wrapper:hover {
    background-color: $bright_lavender;
  }
}
