#introduction-section {
  position: relative;
  width: 100vw;
  display: grid;
  // grid-template-rows: repeat(12, minmax(0px, 1fr));
  grid-template-columns: repeat(12, minmax(0px, 1fr));
  // grid-template-rows: repeat(12, minmax(0px, 1fr));
  grid-template-rows: repeat(5, minmax(0px, 1fr));
  grid-gap: 20px;
  padding: $base-padding-y $base-padding-x;
}
