#paris_metro_map {
  z-index: 0;
  position: absolute;
  width: 100vw;
  // margin-top: 10vw;
  // margin-left: -10vw;
  // height: 150vh;
  opacity: 0.5;
}

@media (max-width: $breakpoint_M) {
  #paris_metro_map {
    transform-origin: center;
    transform: scale(1.15);
  }
}

@media (max-width: $breakpoint_M) {
  #paris_metro_map {
    transform-origin: center;
    transform: scale(1.25);
  }
}
